/* Write your CSS here */
.bg-container {
  background-color: #ffd569;
  height: 100%;
  margin: 0;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 300px;
  height: 400px;
}
.card-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  width: 900px;
  text-align: center;
}
.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.image-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
button {
  height: 35px;
  width: 90px;
  color: #ffffff;
  background-color: #007bff;
  margin-top: 30px;
  border-style: none;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  img {
    height: 200px;
    width: 150px;
    margin: 0;
  }
  .image-container {
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }
  .bg-container {
    padding: 5px;
  }
  .card-container {
    width: 300px;
  }
}
.count {
  color: #ffd569;
}
